main {
    height: 747px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px grey solid;
    flex-grow: 1;
}

div.tabel__view {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
}

div.first__row {
    height: 100%;
    width: 30%;
    background-color: rgb(194, 194, 194);
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.first__row div {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 6px solid rgb(209, 180, 15);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 35px;
    line-height: 90px;
}

div.first__row div.tableInactive {
    background-color: rgb(160, 160, 160);
    border: 6px white solid;
    pointer-events: none;
}

div.first__row div.tableBooked {
    background-color: rgb(43, 51, 61);
    border: 6px rgb(209, 180, 15) solid;
    color: rgb(209, 180, 15);
    pointer-events: none;
}

div.first__row div.tableActive {
    background-color: rgb(209, 180, 15);
    border: 6px white solid;
}

div.second__row {
    height: 100%;
    width: 40%;
    background-color: rgb(168, 167, 167);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div.second__row div {
    width: 150px;
    height: 150px;
    background: white;
    border: 3px solid rgb(209, 180, 15);
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 35px;
    line-height: 140px;
}

div.second__row div.tableInactive {
    background-color: rgb(160, 160, 160);
    border: 6px white solid;
    pointer-events: none;
}

div.second__row div.tableBooked {
    background-color: rgb(43, 51, 61);
    border: 6px rgb(209, 180, 15) solid;
    color: rgb(209, 180, 15);
    pointer-events: none;
}

div.second__row div.tableActive {
    background-color: rgb(209, 180, 15);
    border: 6px white solid;
}